:root {
    --fallback-title-bar-height: 40px;
}

.draggableRegion {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.draggable {
    app-region: drag;
    -webkit-app-region: drag;
}

.noDraggable {
    app-region: no-drag;
    -webkit-app-region: no-drag;
}

.title {
    position: absolute;
    top: env(titlebar-area-x, 0);
    left: env(titlebar-area-y, 0);
    height: env(titlebar-area-height, var(--fallback-title-bar-height));
    width: env(titlebar-area-width, 100%);
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: env(titlebar-area-height, var(--fallback-title-bar-height));
    overflow: auto;
}
